<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubu.lmi.gii170j">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".interfaz.Perfil"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".interfaz.MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".interfaz.RegistroGlucemias"
            android:label="@string/title_activity_registro_glucemias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".interfaz.Incidencias"
            android:label="@string/title_activity_incidencias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".interfaz.Historial"
            android:label="@string/title_activity_historial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".interfaz.Carbohidratos"
            android:label="@string/title_activity_carbohidratos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>