<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubu.lmi.gii170j">

    <!-- Permiso para poder Acceder a imagenes de nuestra galeria -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permiso para poder Acceder a la camara -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.Launcher" />
        <activity
            android:name=".view.Registro"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RegistroGlucemias"
            android:label="@string/title_activity_registro_glucemias"
            android:parentActivityName=".view.MenuPrincipal"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubu.lmi.gii170j.view.MenuPrincipal" />
        </activity>
        <activity
            android:name=".view.Incidencias"
            android:label="@string/title_activity_incidencias"
            android:parentActivityName=".view.RegistroGlucemias"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubu.lmi.gii170j.view.RegistroGlucemias" />
        </activity>
        <activity
            android:name=".view.Historial"
            android:label="@string/title_activity_historial"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MenuPrincipal" />
        </activity>
        <activity
            android:name=".view.Carbohidratos"
            android:label="@string/title_activity_carbohidratos"
            android:parentActivityName=".view.RegistroGlucemias"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RegistroGlucemias" />
        </activity>
        <activity
            android:name=".view.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegistroListaIngesta"
            android:label="@string/title_activity_registro_lista_ingesta"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MenuPrincipal" />
        </activity>
        <activity
            android:name=".view.ConsultaDetallesListaIngesta"
            android:label="@string/title_activity_detalles__lista_ingesta"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RegistroListaIngesta" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.Ajustes"
            android:label="@string/title_activity_ajustes"
            android:parentActivityName=".view.MenuPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubu.lmi.gii170j.view.MenuPrincipal" />
        </activity>
    </application>

</manifest>